{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
  
      <div class="row">
        <div class="col">
          <div class="row row-cols-1 row-cols-md-4 g-4">

            {% for card in cards %}
              <div class="col">
                <div class="card h-100">
                  <img
                    src="{{card.image}}"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">
                      {{ card.text }}
                    </p>
                  </div>
                  <div class="card-footer">
                    <button type="button" class="btn btn-primary">Ver torres</button> <small class="text-muted mr-5"><i class="icon ion-md-trash mr-3"></i><i class="icon ion-md-create"></i></small>
                  </div>
                </div>
              </div>
            {% endfor %}
           
          </div>
        </div>
      </div>

</div>
{% endblock %}