{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
  
<div class="wrapper">
  <div class="box servicios">
    <h5 class="inner-box title-services">Servicios</h5>
    <div class="inner-box">1</div>
    <div class="inner-box">2</div>
    <div class="inner-box">3</div>
    <div class="inner-box">4</div>
    
    <div class="inner-box">5</div>
    <div class="inner-box">6</div>
    <div class="inner-box">7</div>
    <div class="inner-box">8</div>
  </div>
  <div class="box total-servicios">B</div>
  <div class="box servicios-curso">C</div>
  <div class="box personal">
    D
    
  </div>
</div>


</div>
{% endblock %}