{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
  
<div class="wrapper">

  <div class="box servicios">
    <h3 class="title-services">Servicios</h3>
    <div class="inner-box img-row-1">
      <div class="layer-row-1"></div>
      <h5 class="service-row-1">Carpinteria</h5>
    </div>
    <div class="inner-box img-row-1">
      <div class="layer-row-1"></div>
      <h5 class="service-row-1">Reparaciones</h5>
    </div>
    <div class="inner-box img-row-1">
      <div class="layer-row-1"></div>
      <h5 class="service-row-1">Cocina</h5>
    </div>
    <div class="inner-box img-row-1">
      <div class="layer-row-1"></div>
      <h5 class="service-row-1">Electricidad</h5>
    </div>

    <div class="inner-box img-row-2">
      <div class="layer-row-2"></div>
      <h4 class="service-row-2">Electricidad</h4>
    </div>
    <div class="inner-box img-row-2">
      <div class="layer-row-2"></div>
      <h4 class="service-row-2">Electricidad</h4>
    </div>
    <div class="inner-box img-row-2">
      <div class="layer-row-2"></div>
      <h4 class="service-row-2">Electricidad</h4>
    </div>
    <div class="inner-box img-row-2">
      <div class="layer-row-2"></div>
      <h4 class="service-row-2">Electricidad</h4>
    </div>
  </div>

  <div class="box total-servicios">
    <h3 class="title-services">Total Servicios</h3>
    <div id="chart"></div>
  </div>
  <div class="box servicios-curso">
    <h3 class="title-services">Servicios en curso</h3>

    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Servicio</th>
          <th scope="col">Marca</th>
          <th scope="col">Tipo de servicio</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <input type="checkbox" name="check1" id="1"></th>
          <td>Toma de lavadora</td>
          <td>Hitachi</td>
          <td>Reparación</td>
          <td><span class="en-curso"></span>  En curso</td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox" name="check2" id="2"></th>
          <td>Aire Acondicionado</td>
          <td>LG</td>
          <td>Instalación</td>
          <td><span class="detenido"></span> Detenido</td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox" name="check3" id="3"></th>
          <td>Electricidad</td>
          <td>OnePlus</td>
          <td>Reparación</td>
          <td><span class="en-curso"></span> En curso</td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox" name="check4" id="4"></th>
          <td>Fregadero</td>
          <td>Kent</td>
          <td>Reparación</td>
          <td><span class="en-curso"></span> En curso</td>
        </tr>
      
      </tbody>
    </table>
  </div>
  <div class="box personal">
    <h3 class="title-services">Contactar personal</h3>
      <img src="{% static 'images/personal.jpg' %}" alt="personal">
  </div>
</div>


</div>
{% endblock %}